/** Search form */
// TODO: .search-form {}
// TODO: .search-form label {}
// TODO: .search-form .search-field {}
// TODO: .search-form .search-submit {}

label {
  display: block;
  font-size: 36px;
  text-transform: uppercase;
  margin: 5px 0;
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"],
input[type="search"],
textarea {
  background-color: transparent;
  border: 3px white solid;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: $yellow;
  box-shadow: 3px 3px 0 $yellow solid;
}

.button,
input[type="submit"],
input[type="button"],
button {
  appearance: none;
  border: 3px white solid;
  background-color: transparent;
  color: $yellow;
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  padding: 10px;
  font-weight: bold;
}

.nf-before-form-content {
  margin-bottom: 30px;
}
