/** Search form */
// TODO: .search-form {}
// TODO: .search-form label {}
// TODO: .search-form .search-field {}
// TODO: .search-form .search-submit {}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 5px 0;
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea {
  background-color: transparent;
  border: 3px white solid;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: $yellow;
  box-shadow: 3px 3px 0 $yellow;

  &[disabled] {
    border: 4px rgba(white, 0.5) solid;
  }

  &:focus {
    color: $yellow;
  }
}

section.yellow {
  input[type="text"],
  input[type="email"],
  input[type="phone"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  textarea {
    border-color: $grey;
    color: $grey;

    &:focus {
      color: $grey;
    }
  }
}

form.wppb-user-forms,
form#loginform {
  ul {
    max-width: none !important;
  }

  input[type="text"],
  input[type="email"],
  input[type="phone"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  textarea {
    background-color: transparent;
    border: 3px white solid;
    border-radius: 0;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: $yellow;
    box-shadow: 3px 3px 0 $yellow solid;

    &:focus {
      color: $yellow;
    }

    &[disabled] {
      border: 4px rgba(white, 0.5) solid;
    }
  }
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"],
input[type="number"],
textarea {
  width: 100%;
}

.button,
input[type="submit"],
input[type="button"],
button {
  appearance: none;
  border: 3px white solid;
  background-color: transparent;
  color: $yellow;
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;

  &.small {
    font-size: 16px;
    padding: 4px 10px;
  }
}

.button-row {
  margin: 1em 0;
  display: flex;
  align-items: center;

  &.right {
    justify-content: flex-end;
  }

  &.center {
    justify-content: center;
  }
}

.nf-before-form-content {
  margin-bottom: 30px;
}

select {
  background-color: $grey;
  border: 3px white solid;
  border-radius: 0;
  color: $yellow;
  padding: 4px 10px;
  font-size: 18px;
}

.form-row {
  margin-bottom: 1.5em;

  .help {
    font-style: italic;
    margin: 0 0 8px;
    font-size: .9em;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.select2-container {
  .select2-selection.select2-selection--single {
    border: 3px white solid;
    background-color: transparent;
    border-radius: 0;
    padding: 10px;
    height: auto;

    .select2-selection__rendered {
      color: $yellow;
      line-height: 1.4;
    }

    .select2-selection__arrow {
      height: 48px;

      b {
        border-color: $yellow transparent transparent transparent;
      }
    }
  }

  .select2-dropdown {
    background-color: $grey;
    border: 3px white solid;
    border-radius: 0;

    .select2-search__field {
      border: 1px white solid;
    }

    .select2-results {
      .select2-results__option--highlighted {
        color: $grey;
        background-color: $yellow;
        font-weight: bold;
      }
      [aria-selected="true"] {
        color: $yellow;
        background-color: $grey;
        font-weight: bold;

        &.select2-results__option--highlighted {
          color: $grey;
          background-color: $yellow;
          font-weight: bold;
        }
      }
    }
  }
}

.wppb_form_success_message {
  background-color: transparent !important;
  color: white !important;
  border: none !important;
  font-size: 20px;
}
