/* needed for old browsers */
dialog {
  display: block;
}

/* removes scroll when modal is opened */
.no-scroll {
  overflow: hidden;
}

/* overlay covers everything */
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 666;
}

/* modal */
.modal {
  position: fixed;
  left: 25%;
  right: auto;
  top: 10%;
  bottom: 10%;
  width: 50%;
  background: $yellow;
  color: $grey;
  border: 3px $grey solid;
  z-index: 667;
  overflow: auto;

  a {
    color: $grey !important;
  }

  label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }

  button#js-modal-close {
    font-size: 14px;
    padding: 3px 10px;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  button {
    color: $grey;
    background-color: $yellow;
    border: 3px $grey solid;
  }

  input,
  textarea {
    border-color: $grey;
    color: $grey;

    &:focus {
      color: $grey;
    }
  }

  select {
    border-color: $grey;
    background-color: $yellow;
    color: $grey;
  }

  textarea {
    color: $grey;
  }

  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
  textarea {
    width: 100%;
  }
}

.hidden {
  display: none;
}
