/* needed for old browsers */
dialog {
  display: block;
}

/* removes scroll when modal is opened */
.no-scroll {
  overflow: hidden;
}

/* overlay covers everything */
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 666;
}

/* modal */
.modal {
  position: fixed;
  left: 25%;
  right: auto;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background: $yellow;
  color: $grey;
  border: 3px $grey solid;
  z-index: 667;
  overflow: auto;
  max-height: 80%;
  max-width: 80%;
  height: 600px;

  a {
    color: $grey !important;
  }

  label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .modal__wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
  }

  button#js-modal-close {
    font-size: 14px;
    padding: 3px 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999;
  }

  .modal__content {
    margin-top: 50px;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #js-modal-content {
    height: 100%;
  }

  button {
    color: $grey;
    background-color: $yellow;
    border: 3px $grey solid;
  }

  input,
  textarea {
    border-color: $grey;
    color: $grey;

    &:focus {
      color: $grey;
    }
  }

  select {
    border-color: $grey;
    background-color: $yellow;
    color: $grey;
  }

  textarea {
    color: $grey;
  }

  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
  textarea {
    width: 100%;
  }


  @media only screen and (max-width: 768px) {
    left: 10px;
    right: 10px;
    width: calc(100% - 20px);
    height: auto;
    max-width: none;
  }
}

.hidden {
  display: none;
}
