#character-sheet {
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  h3, h4 {
    margin-bottom: 0;
  }

  .family {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 0;
  }

  .played-by {
    text-align: center;
    margin: 0;
  }

  .quote {
    font-style: italic;
  }

  dl {
    dt {
      font-weight: bold;
      float: left;
      clear: both;
      margin-right: 10px;
      min-width: 120px;
    }

    dd {
      float: left;
      min-width: 1px;
    }
  }

  label {
    font-size: 14px;
    margin: 0 10px 0 0;
  }

  .row .row {
    margin: 0;
  }

  .dots {
    i {
      margin-right: 5px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &.center {
      text-align: center;
    }
  }

  .merits {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 5px;
    }
  }
}
