#character-sheet {
  label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }
  .fa-stack {
    width: 1.5em;
  }
  #attributes-row,
  #skills-row,
  #merits {
    h4, h3 {
      display: flex;
      align-items: center;

      span {
        padding: 3px 5px;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        margin-left: 10px;

        &.hidden {
          display: none;
        }

        &.warn {
          background-color: $yellow;
          color: $grey;
        }
      }
    }
  }

  input:not([type="checkbox"]):not([type="submit"]):not([type="radio"]),
  textarea {
    width: 100%;
  }

  #add-merit,
  #add-specialty,
  #add-condition {
    font-size: 16px;
    padding: 4px 10px;
  }

  ul.merits,
  ul.skill-specialties,
  ul.conditions,
  ul.equipment {
    list-style: none;
    padding: 0;

    button {
      padding: 0;
      border: none;
      font-size: 16px;
      margin-left: 5px;
    }
  }

  ul.merits {
    li {
      .alert {
        display: none;
        position: relative;

        .error-content {
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-color: $grey;
          color: white;
          border: 3px white solid;
          box-shadow: 3px 3px 0 $yellow;
          padding: 5px;
          font-size: 12px;
          text-align: left;
          display: none;
          min-width: 120px;

          span {
            display: block;
          }
        }
      }

      &.error {
        .alert {
          display: inline-block;

          &:hover {
            cursor: pointer;

            .error-content {
              display: block;
            }
          }
        }
      }
    }
  }

  .specialty-form-row {
    flex-wrap: nowrap;

    select {
      flex-shrink: 0;
    }

    input[type="text"] {
      flex-shrink: 1;
      margin: 0 5px;
      min-width: 0;
      width: auto;
      flex-grow: 1;
    }
  }
}

#questionnaire {
  dl {
    dt {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    dd {
      margin: 0;
    }
  }
}

#equipment-print ul.equipment {
  columns: 3;
  list-style: none;
  margin: 0;
  padding: 0;
  dl {
    margin-top: 0;
    dt {
      float: left;
      font-weight: bold;
      clear: both;
      margin-right: 5px;
    }
    dd {
      margin: 0;
      padding: 0;
    }
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
