#character-sheet {
  label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }

  input:not([type="checkbox"]):not([type="submit"]):not([type="radio"]),
  textarea {
    width: 100%;
  }

  #add-merit,
  #add-specialty {
    font-size: 16px;
    padding: 4px 10px;
  }

  ul.merits,
  ul.skill-specialties {
    list-style: none;
    padding: 0;

    button {
      padding: 0;
      border: none;
      font-size: 16px;
      margin-left: 5px;
    }
  }

  .specialty-form-row {
    flex-wrap: nowrap;

    select {
      flex-shrink: 0;
    }

    input[type="text"] {
      flex-shrink: 1;
      margin: 0 5px;
    }
  }
}
