.dashboard {
  header {
    border-bottom: 5px $yellow solid;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-size: 36px;
    letter-spacing: 1px;
    margin: 0;
  }

  ol {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1em;

      h3 {
        margin: 0;
        font-size: 24px;
        font-weight: bold;
      }

      h4 {
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  button,
  input[type="submit"],
  .button {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px 5px;
  }

  .beat-count {
    font-size: 28px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 10px;
  }

  .health,
  .willpower,
  .integrity {
    margin-bottom: 1em;
  }

  .integrity {
    span.current-integrity {
      font-size: 20px;
      font-weight: bold;
      margin-right: 10px;
    }
  }

  .conditions {
    margin-bottom: 1em;
  }

  .fa-stack {
    width: 1.5em;
  }

  audio#ding {
    display: none;
  }
}
