.dashboard {
  padding: 0 20px;

  h1 {
    font-size: 36px;
    letter-spacing: 1px;
    margin-top: 20px;
  }

  ol {
    list-style: none;

    li {
      margin-bottom: 1em;

      h3 {
        margin: 0;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }

  .fa-stack {
    width: 1.5em;
  }
}
