.single-downtime {
  h2 {
    margin-top: 0;
    line-height: 1;
  }

  h3 {
    margin-top: 0;
  }
}

.page-template-template-downtime-actions {
  h5 {
    font-size: 1em;
    margin-bottom: 0;
  }
}
