.print {
  background-color: white;
  color: black !important;
  font-size: 14px;

  .button-row {
    display: none;
  }

  > *,
  section {
    color: black !important;
    background-color: transparent !important;
  }

  section {
    padding-bottom: 0;
  }

  article {
    page-break-after: always;
    page-break-inside: avoid;
  }

  .row {
    page-break-inside: avoid;
  }

  .box {
    background-color: transparent;
    border: none;

    &:after,
    &:before {
      display: none;
    }

    .content {
      padding: 0;
    }
  }

  #basics-row {
    .quote,
    .blurb {
      display: none;
    }

    .content {
      margin-top: 50px;
    }
  }

  #experience,
  #questionnaire {
    display: none;
  }
}
