.print {
  background-color: white;
  color: black !important;

  > *,
  section {
    color: black !important;
    background-color: transparent !important;
  }

  section {
    padding-bottom: 0;
  }

  article {
    page-break-after: always;
    page-break-inside: avoid;
  }

  .row {
    page-break-inside: avoid;
  }

  .box {
    background-color: transparent;
    border: none;

    .content {
      padding: 0;
    }
  }

  #experience {
    display: none;
  }
}
