.print {
  background-color: white;
  color: black !important;
  font-size: 12px !important;

  h1,h2,h3,h4,h5 {
    line-height: 1.1;
  }

  h2 {
    font-size: 2.5em !important;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 2em !important;
  }

  h4 {
    font-size: 1.75em !important;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .button-row {
    display: none;
  }

  > *,
  section {
    color: black !important;
    background-color: transparent !important;
  }

  section {
    padding-bottom: 0;
  }

  article {
    page-break-after: always;
    page-break-inside: avoid;
  }

  .row {
    page-break-inside: avoid;
  }

  .box {
    background-color: transparent;
    border: none;

    &:after,
    &:before {
      display: none;
    }

    .content {
      padding: 0;
    }
  }

  #basics-row {
    .quote,
    .blurb {
      display: none;
    }

    .content {
      margin-top: 50px;
    }
  }

  #experience,
  #questionnaire {
    display: none;
  }

  #character-sheet {
    label {
      font-size: 12px !important;
      letter-spacing: 0;
    }
  }
}
